{
  "extends": "@atomix/eslint-config-react",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "unicorn/filename-case": 0,
    "react/prop-types": 0,
    "jsx-a11y/anchor-is-valid": 0
  }
}
